{% extends 'layout.html' %}


{% block content %}

    <div class="container">
        <div class="row mt-4 mb-4 d-flex justify-content-center">
            <div class="col-md-4 col-12 d-flex justify-content-center mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYjG8HTfyvxjMfc8cjXl-3EC1idLOwYh24sg&usqp=CAU" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">ANN-churn</h5>
                    <p class="card-text text-justify">An ANN is based on a collection of connected units or nodes called artificial neurons, which loosely model the neurons in a biological brain. Each connection, like the synapses in a biological brain, can transmit a signal to other neurons.  </p>
                    <a href="https://best-curn-model.herokuapp.com/" target="_blank" class="custom-btn btn-5 w-100">Check Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12 d-flex justify-content-center mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://miro.medium.com/max/875/1*RjZe7cfnhdRhhLimLvapow.png " alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">CNN-mnist</h5>
                    <p class="card-text text-justify">A convolutional neural network (CNN or ConvNet), is a network architecture for deep learning which learns directly from data, eliminating the need for manual feature extraction.CNNs are particularly useful for finding patterns in images to recognize objects, faces, and scenes.  </p>
                    <a href="https://yash-mnist-digit.herokuapp.com/" target="_blank" class="custom-btn btn-5 w-100">Check Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12 d-flex justify-content-center mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://home.sophos.com/sites/default/files/2021-09/ai-article-pic8.jpeg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">RNN-cat/dog</h5>
                    <p class="card-text text-justify">Recurrent Neural Network(RNN) are a type of Neural Network where the output from previous step are fed as input to the current step. The main and most important feature of RNN is Hidden state, which remembers some information about a sequence. </p>
                    <a href="https://yash-cat-dog-cnn.herokuapp.com/" target="_blank" class="custom-btn btn-5 w-100">Check Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12 d-flex justify-content-center mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzrWZwokl7aNDIzvhR9bjOOVHmjOFemJzcdQuBiOAT-UII4nKX864iUQEbobLw6DvwaUY&usqp=CAU " alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">TRANSFER LEARNING-Facial Recognition</h5>
                    <p class="card-text text-justify">Transfer learning (TL) is a research problem in machine learning (ML) that focuses on storing knowledge gained while solving one problem and applying it to a different but related problem. For example, knowledge gained while learning to recognize cars could apply when trying to recognize trucks. </p>
                    <a href="https://thesilentcoderr-face-detection-app-587olp.streamlitapp.com/" target="_blank" class="custom-btn btn-5 w-100">Check Project</a>
                    </div>
                </div>
            </div>

            
            
        </div>
    </div>

{% endblock %}