<hr style="height:2px;border-width:0;color:gray;background-color:gray; width:80%;">
<div class="col-md-12">
    <center>
        <h3 class="section-title" style="text-align: center;">Sponsored by</h3>
    </center>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="card mb-3">
                <div class="card">
                    <img style="max-height: 200px;"
                        src="{{ url_for('static',filename = 'image/AICTEIdeaLabFooterLogo.png')  }}"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">IDEA LAB</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="card mb-3">

                <div class="card">
                    <img style="max-height: 200px;" src="{{ url_for('static',filename = 'image/nbanew.png')  }}"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center">NBA</h5>

                    </div>


                </div>
            </div>
        </div>

        <div class="col-xs-10 col-md-3">
            <div class="card mb-3">

                <div class="card">
                    <img style="max-height: 200px;"
                        src="{{ url_for('static',filename = 'image/aicte-logo.png')  }}" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title" ; style="text-align:center">AICTE MODROB DEEP LEARNING LAB</h5>

                    </div>

                </div>

            </div>
        </div>

        <br><br><br><br><br>
        <div class="fixed-bottom ">
            <div class="bg-secondary " style="min-height: 40px;">

                <marquee style="color:#fff; margin-top: 7px;">
                    <h9>Developed by Department of Computer Engineering, PIET</h9>
                </marquee>
            </div>
        </div>
        <!-- change later-->
        <script src="{{ url_for('static',filename = 'js/bootstrap.bundle.min.js')  }}"></script>
    </div>
</div> 
